.top-movie {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 450px;
  margin: 1%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.title {
  margin-left: 3%;
  width: 400px;
  color: white;
  font-size: 45px;
  font-family: "Oxygen", sans-serif;
  margin-bottom: 1%;
}

.cta {
  display: flex;
  justify-content: space-between;
  margin-right: 2%;
  width: 400px;
  height: 50px;
  margin-bottom: 2%;
  border-radius: 10px;
}

.info-btn {
  cursor: pointer;
  border-radius: 10px;
  width: 80%;
}

.icon {
  color: white;
  width: 20%;
  height: 100%;
  border: none;
  cursor: pointer;
}

@media (max-width: 650px) {
  .movie-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    text-align: center;
  }

  .top-movie {
    margin: unset;
  }
  .title {
    margin: unset;
  }

  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset;
  }

  .info-btn {
    height: 100%;
    width: 100%;
  }

  .icon {
    display: none;
  }
}

@media (max-width: 425px) {
  .cta {
    width: 90%;
    margin: unset;
  }
}
