.top-movie-container {
  margin-top: 20px;
  margin-bottom: 150px;
  height: 600px;
  color: white;
  font-size: 30px;
  font-family: "Oxygen", sans-serif;
}

.top-movie-container > * {
  margin: 2px 0px;
}

.top-movie {
  height: 100%;
  width: 100%;
}

.movie-bottom-info {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .top-movie-container > * {
    margin: 0px 0px;
    font-size: 20px;
  }

  .top-movie-container {
    height: 470px;
  }
}

@media (max-width: 450px) {
  .top-movie-container {
    margin-bottom: 100px;
  }

  .top-movie-container > * {
    margin: 2px 0px;
  }

  .top-movie-container {
    height: 250px;
  }
}
