.list {
  display: flex;
  overflow-x: auto;
  color: white;
}

.item {
  min-width: 380px;
  margin-right: 20px;
}

.movie {
  height: 550px;
  width: 100%;
}

.title {
  margin-bottom: 10px;
  font-size: 25px;
  font-family: "Oxygen", sans-serif;
  color: white;
}

.movie-container {
  margin-bottom: 20px;
}

.movie-title {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  margin-bottom: 40px;
}

.movie-bottom-info {
  display: flex;
  justify-content: space-between;
}

/* width */
.list::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #556cd6;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .item {
    min-width: 340px;
    margin-right: 10px;
  }

  .title {
    margin-bottom: 10px;
  }

  .movie-title {
    margin-bottom: 5px;
  }
}
